.socials email-container i{
    position: relative;
}
.socials-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
h4{
    font-size: 2.2vw;
}
h1{
    font-size: calc(1.375rem + 1.1vw);
}
