.socials email-container i {
    position: relative;
}

.socials-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

h4 {
    font-size: 2.2vw;
}

.container-fluid small {
    font-size: 1.2rem;
}

.container-fluid small p {
    font-size: 0.7rem;
}

#navbar {
    padding: 0px;
}

#navbar small {
    margin-top: 1rem;
}

h1 {
    font-size: calc(1.375rem + 1.1vw);
}

#navigation ul li a:active {
    color: aliceblue;
}

#navigation .bg-dark {
    --mdb-bg-opacity: 0.7
}

#naviaiton .bg-dark:hover {
    --mdb-bg-opacity: 1
}

#navigation img {
    height: 40px;
}