.hero-pic{
    aspect-ratio: 4/3;
}

h1{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 2rem;
    text-align: center;

}
#mainNav{
z-index: 2;
}



#about p{
    white-space: normal;
    color:aliceblue;
    text-align: justify;
}
#foto-carousel{
    aspect-ratio: 16/9;
    height: 400px;
}
.handler-one h1{
    top:40%;
    z-index: 1;
    left:25%;
    position:absolute;
    color: black;
    font-weight: 1000;
    font-size: 3rem;
}
.handler-one span{
    top:60%;
    z-index: 1;
    left:15%;
    position:absolute;
    color:aliceblue;
    max-width: 100%;
}
.about-section{
  padding-top: 1rem;
}
  
  .filterDiv {
    float: left;
    color: rgb(11, 15, 19);
    width: 100%;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
    padding: 0;
  }
  .filterDiv img{
    width: 330px;
    height: 360px;
    object-fit: cover;
    aspect-ratio: 4/3;
  }
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  #item-container{
    margin:auto;
    display: grid;
    justify-content: center;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    gap: 3rem 2rem;
    cursor: pointer;
  }
  #myBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .btn-toolbar{
    font-size: 1.9vw;
  } 
  .btn{
    padding:13px;
    border-radius:1px;
    border-color: black;
  }
  .contact-section .container{
    display: flex;
    justify-content: center;
  }
  .card{
    width: fit-content;
  }
  .card a{
    text-decoration: none;
  }
  @media (min-width: 1px) and (max-width: 767px){
    #item-container {
      grid-template-columns: 1fr;
      gap: 0rem;
    }
    .handler-one h1{
      font-size: 2rem;
      top: 16%;
      left: 9%;
    }
    .handler-one span{
      font-size: 1.3vw;
    }
    #about p{
      font-size: 2.3vw;
    }
    .navbar-brand{
      font-size: 4vw;
    }
    .show{
      display: flex;
      justify-content: center;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) { 
    #item-container {
    grid-template-columns: 1fr 1fr;
  }
}