{% extends "base.html"%} {% load static %} {% block styles %}
<link href="{% static 'core/css/index.css' %}" rel="stylesheet" />
{% endblock styles %} {% block content %}
<main>
  <header>
    <!-- Background image -->
    <div id="hero-bg" class="p-5 text-center bg-image" style="background-image: url({% static 'core/img/home.jpg' %});">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">PALOMA GORDIÁN MONTALVA</h1>
            <h4 class="mb-3">
              CRÉATION - ARTS VIVANTS - PROGRAMMATION - DÉVELOPPEMENT DE PROJETS
            </h4>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <!-- About-->
  <section class="text-center" id="about">
    <div class="px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8">
          <br />
          <h2 class="text-white mb-4">À propos de moi</h2>
          <br /><br />
          <div class="hero-pic">
            <img src="{% static 'core/img/about_pic.jpg' %}" class="img-fluid" alt="" />
          </div>
          <p>
            Je m'appelle Paloma Gordián Montalva, je suis communicatrice
            audiovisuelle de l'Université des Arts et Sciences de la
            Communication (UNIACC) Santiago du Chili, 2001.
            <br /><br />
            Depuis le début de ma carrière, mes intérêts se sont concentrés sur
            la création et la gestion de projets culturels, Perfectionnement
            moi-même dans la gestion d'équipe, la production, la
            vente et la recherche de ressources, le marketing, la communication
            et la relation client. Dans mon expérience de communicant
            audiovisuel, mon passage à la télévision et au théâtre a été
            essentiel pour comprendre la relation entre produit, contenu et
            spectateur, travaillant avec succès dans les domaines marketing des
            principales chaînes de télévision chiliennes, développant des images
            d'entreprise, des spots publicitaires , campagnes politiques ,
            programmes pour enfants et séries animées, puis a dérivé vers le
            théâtre en tant que producteur général pour d'importantes compagnies
            théâtrales chiliennes et des projets culturels utilisant des
            ressources multimédias.
            <br /><br />La relation entre mon travail de gestion culturelle et
            la création d'œuvres m'a amené à participer activement au travail de
            création, proposant et expérimentant d'autres médias et formats,
            tels que la technologie et les arts visuels.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Projects -->
  <section class="portfolio-section" id="portfolio">
    <br /> <br />
    <h1>Portefeuille</h1>
    <br /> <br />
    <!-- Control buttons -->
    <div class="btn-toolbar btn-toolbar-sm flex-wrap" role="toolbar" aria-label="Basic example" id="myBtnContainer">
      <button type="button" class="btn btn-outline-primary boton active " onclick="filterSelection('all')"
        checked>Montrer
        Tout</button>
      {% for category in category_list %}
      <button type="button" class="btn btn-outline-primary boton " onclick="filterSelection('{{category.id}}')">
        {{category.name}}</button>
      {% endfor %}
    </div>
    <br /> <br />
    <div class="row row-cols-1 row-cols-md-3 g-4" id="item-container">
      {% for project in projects_list %}
      <div class="col filterDiv {{project.category.id}}">
        <div class="card h-100">
          <a href="{% url 'pgm_app:project' slug=project.slug %}">
            <img src="{{project.image.url}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{project.title}}</h5>
            </div>
          </a>
          <p class="card-text">{{project.subtitle}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- News Articles -->
  <section class="news-section" id="news">
    <br /> <br />
    <h1>Presse</h1>
    <br /> <br />
    <section class="content">
      <div class="item ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/vDsoO6e5ov0" title="Presse PGM" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="item ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/eQqWB3rWgDY" title="Presse TV" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </section>
  </section>
  <br />
</main>
{% endblock content %} {% block scripts %}
<script src="{% static 'core/js/index.js' %}"></script>
{% endblock scripts %}
